.container-fluid hr {
    margin-top:5px;
    margin-bottom: 20px;
}

.no-horizontal-padding { 
    padding-left: 0px;
    padding-right: 0px;
}

.no-vertical-padding { 
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-horizontal-margin { 
    margin-left: 0px;
    margin-right: 0px;
}

.no-vertical-margin { 
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-action-buttons {
    margin-top: 15px;
}