<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{% url 'apps:home' %}"><i class="fa fa-home fa-fw"></i> Home</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#"><i class="fa fa-book fa-fw"></i> Books<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Search</a>
                    </li>
                    <li>
                        <a href="#">Requests</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-film fa-fw"></i> Movies<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Requests</a>
                    </li>
                    <li>
                        <a href="#">Scheduled</a>
                    </li>
                    <li>
                        <a href="#">Search</a>
                    </li>
                    <li>
                        <a href="#">Suggestions</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-music fa-fw"></i> Music<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Search</a>
                    </li>
                    <li>
                        <a href="#">Requests</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            {% if all_config_data.tv_config.tv_enabled %}
            <li>
                <a href="#"><i class="fa fa-tv fa-fw"></i> TV<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Requests</a>
                    </li>
                    <li>
                        <a href="#">Scheduled</a>
                    </li>
                    <li>
                        <a href="{% url 'apps:tv_search' %}">Search</a>
                    </li>
                    {% if all_config_data.tv_config.tv_suggestions_enabled %}
                    <li>
                        <a href="#">Suggestions</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- /.nav-second-level -->
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li class="divider"></li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Setup<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">General</a>
                    </li>
                    <li>
                        <a href="#">Users</a>
                    </li>
                    <li>
                        <a href="#">Media Server</a>
                    </li>
                    <li>
                        <a href="#">Books</a>
                    </li>
                    <li>
                        <a href="#">Movies</a>
                    </li>
                    <li>
                        <a href="#">Music</a>
                    </li>
                    <li>
                        <a href="{% url 'apps:configure_tv' %}">TV</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            {% endif %}
            <!-- /.nav-top-level -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>