{% extends "_content.html" %}

{% block title %}
Trova - TV Requests
{% endblock %}

{% block page_title %}
TV Requests
{% endblock %}

{% block page_buttons %}

{% endblock %}

{% block page_content %}

{% if success %}
<div class="panel panel-default">
    <div class="panel-heading">
        {% if requests_persona == 'all' %}
            <h3 class="panel-title">All Requests</h3>
        {% else %}
        <h3 class="panel-title">My Requests</h3>
        {% endif %}
    </div>
    <div class="panel-body">
        <table id="requests" class="table table-striped table-bordered" width="100%"></table>
    </div>
</div>
{% else %}
Connection Failed
{% endif %}

<script>
    $(document).ready(function() {
        var requests_data = JSON.parse('{{ requests_data | escapejs }}');
        var requests_list = requests_data['_result_cache'];
        var sonarr_data = JSON.parse('{{ sonarr_data | escapejs }}');
        var requests_persona = '{{ requests_persona }}';
        var sonarr_url =  '{{ sonarr_url }}';
        var tv_config_data =  JSON.parse('{{ tv_config_data | escapejs }}');
        
        var combined_sonnar_requests = _.map(requests_list, function(obj) {
            return _.assign(obj, _.find(sonarr_data, {id: obj.sonarr_id}));
        });
        
        console.log(combined_sonnar_requests);
        
        var table_data = [];
        combined_sonnar_requests.forEach(function(item){
            var table_row = [];

            var request_id  = item['request_id'];
            var sonarr_id  = item['sonarr_id'];
            var image       = '<div class="image-loader-'+ sonarr_id + '"><i class="fa fa-spinner fa-spin" style="font-size:18px;"></i></div>';
            var title       = item['title'];
            var status      = _.capitalize(item['status']);
            var tvdbId      = item['tvdbId'];
            var imdbId      = item['imdbId'];
            var progress    = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="' + item['episodeFileCount'] + '" aria-valuemin="0" aria-valuemax="' + item['episodeCount'] + '" style="width: ' + item['episodeFileCount'] + '%;">' + item['episodeFileCount'] + ' / ' + item['episodeCount'] + '</div></div>'
            
            table_row.push(request_id);
            table_row.push(sonarr_id);
            table_row.push(image);
            table_row.push(title);
            table_row.push(status);
            table_row.push(tvdbId);
            table_row.push(imdbId);
            table_row.push(progress)
            table_data.push(table_row);

            sonarr_get_image(tv_config_data, sonarr_url, sonarr_id, 'banner', 150);
        });
        
        if ( $.fn.DataTable.isDataTable('#requests') ) {
            $('#requests').DataTable().destroy();
        }
        
        var requests_table = $('#requests').DataTable({
            data: table_data,
            fixedHeader: {
                header: true,
                footer: true
            },
            columns: [
            { title: "Request Id" },
            { title: "Sonarr Id" },
            { title: "Banner" },
            { title: "Title" },
            { title: "Status" },
            { title: "TVDB" },
            { title: "IMDB" },
            { title: "Progress" },
            {
                title: "Actions",
                data: null,
                defaultContent: ' \
                <div class="text-center"> \
                    <button class="btn btn-xs btn-danger request_delete">Delete</button> \
                    <button class="btn btn-xs btn-info request_detail">Details</button> \
                </div>'
            }
            ],
            columnDefs: [
            { "targets": [0,1], "visible": false},
            { "width": "140px", "targets": 2 },
            { "width": "90px", "targets": -1 }
            ]
        });
        
        if (requests_persona == 'all') {
            $(".request_delete").each(function(item){
                $(this).prop("disabled",true);
                $(this).removeClass("btn-danger");
                $(this).addClass("btn-default");
            });
        }
        
        $('#requests tbody').on('click', '.request_detail', function (e) {
            var data = requests_table.row( $(this).parents('tr') ).data();
            var request_detail_url = "{% url 'apps:tv.requests.detail' request_id=123456789 %}".replace(/123456789/, data[0].toString());
            window.location = request_detail_url;
            console.log(data);
        });
        
        $('#requests tbody').on('click', '.request_delete', function (e) {
            var data = requests_table.row( $(this).parents('tr') ).data();
            var request_delete_url = "{% url 'apps:tv.requests.delete' request_id=123456789 %}".replace(/123456789/, data[0].toString());
            window.location = request_delete_url;
            console.log(data);
        });
        
        //<img src="' + sonarr_get_image(tv_config_data, sonarr_url, sonarr_id, 'poster') + '" style="height:30px;" />
    });
    
</script>
{% endblock %}

