{% extends "_content.html" %}

{% block title %}
Trova - TV Setup
{% endblock %}

{% block page_title %}
TV Schedule
{% endblock %}

{% block page_buttons %}

{% endblock %}

{% block page_content %}
{% load widget_tweaks %}

<!-- Main page content -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Schedule Calendar</h3>
    </div>
    <div class="panel-body">
        <div id='calendar'></div>
    </div>
</div>


<!-- End of main page content-->
<script>
    $(document).ready(function() {        
        var url = "{% url 'apps:tv.schedule.range' %}";
        
        $('#calendar').fullCalendar({
            themeSystem: 'bootstrap3',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },
            defaultView: 'month',
            events: {
                url: url,
                type: 'GET',
                data: {},
                error: function(e) {
                    console.log(e);
                },
                success: function(data) {
                    //console.log(data);
                },
            }
        });
    } );
</script>
{% endblock %}