{% extends "_content.html" %}

{% block title %}
Trova - TV Search
{% endblock %}

{% block page_title %}
TV Search
{% endblock %}

{% block page_buttons %}

{% endblock %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input class="form-control" type="text" id="search" name="search" placeholder="Search for TV Series" style="display:inline-block;">
            <i class="fa fa-spinner fa-spin" style="font-size:24px; display:none;" id="spinner"></i>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Results</h3>
    </div>
    <div class="panel-body">
        <div id="search_results">
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            
            var delay = (function(){
                var timer = 0;
                return function(callback, ms){
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                };
            })();
            
            $('#search').keyup(function() {
                delay(function(){
                    $('#search').css('display','none');
                    $('#spinner').css('display','inline-block');
                    
                    $.ajax({
                        type: "GET",
                        url: "{% url 'apps:tv.search.request' %}?search=" + $("#search").val(),
                        success: function(data) {
                            var tv_config_data = JSON.parse(data['tv_config_data']);
                            var sonarr_url = data['sonarr_url'];
                            
                            var search_results = JSON.parse(data['search_results']);
                            var shows_list = JSON.parse(data['shows_list']);
                            
                            var requests_data = JSON.parse(data['requests_data']);
                            var requests_list = requests_data['_result_cache'];

                            var search_and_shows = _.map(search_results, function(obj) {
                                return _.assign(obj, _.find(shows_list, {tvdbId: obj.tvdbId}));
                            });

                            var search_and_shows_and_requests = _.map(search_and_shows, function(obj) {
                                return _.assign(obj, _.find(requests_list, {sonarr_id: obj.id}));
                            });
                            
                            //console.log(search_results);
                            //console.log(shows_list);
                            //console.log(requests_list);
                            console.log(tv_config_data);
                            console.log(search_and_shows_and_requests);

                            if (JSON.parse(data['success'] != true) || search_results.length == 0){
                                $('#search_results').html('Nothing Found');
                                
                            } else {
                                var shows_list_ids = []
                                shows_list.forEach(function(existing_show){
                                    shows_list_ids.push(existing_show['tvdbId']);
                                });
                                
                                var results_html = "";
                                var image_loaders = [];

                                search_and_shows_and_requests.forEach(function(show){                                    
                                    if (show['overview'] == null) {
                                        return true;
                                    }
                                    var show_html;
                                    var exists;

                                    var show_name = show['title'];

                                    var sonarr_id = show['id'];
                                    var request_id = show['request_id'];
                                    
                                    var show_status = show['status'];
                                    var show_network = show['network'];
                                    var show_runtime = show['runtime'];
                                    var show_rating = show['ratings']['value'];
                                    var show_tvdb = show['tvdbId'];
                                    var show_imdb = show['imdbId'];
                                    var show_genres = show['genres'].join(', ');

                                    var show_overview = show['overview'];
                                    
                                    var show_image = 'No Image';

                                    if ('id' in show){
                                        show_image = '<div class="image-loader-'+ sonarr_id + '"><i class="fa fa-spinner fa-spin" style="font-size:18px;"></i></div>';
                                        image_loaders.push({'tv_config_data':tv_config_data, 'sonarr_url':sonarr_url, 'sonarr_id':sonarr_id, 'type':'poster', 'width':0});
                                    } else {
                                        show['images'].forEach(function(image){
                                            if (image['coverType'] == 'poster') {
                                                show_image = '<img src="' +  image['url'] + '" class="img-responsive"/>';
                                            } else if (image['coverType'] == 'banner'){
                                                show_image = '<img src="' +  image['url'] + '" class="img-responsive"/>';
                                            } else {
                                                
                                            }
                                        });
                                    }


                                    if (request_id != null) {
                                        var exists_requests_url = "{% url 'apps:tv.requests.detail' request_id=123456789 %}".replace(/123456789/, request_id.toString());    
                                        var show_buttons = '<a href="' + exists_requests_url + '" id="button_exists" class="btn btn-default no-vertical-margin">Already Requested</a>';
                                    } else if (sonarr_id != null ) {
                                        var exists_sonarr_url = "{% url 'apps:tv.search.exists' %}?sonarr_id=" + sonarr_id;
                                        var show_buttons = '<a href="' + exists_sonarr_url + '" id="button_exists" class="btn btn-info no-vertical-margin">Exists in Sonarr</a>';
                                    } else {
                                        exists = false;
                                        var requests_url = "{% url 'apps:tv.search.add' %}?tvdbId=" + show_tvdb;
                                        var show_buttons = '<a href="' + requests_url + '" id="button_exists" class="btn btn-success no-vertical-margin">New Request</a>';
                                    }
                                    
                                    show_html = '\
                                        <div class="panel panel-default"> \
                                            <div class="panel-body"> \
                                                <div class="row"> \
                                                    <div class="col-md-6"><h4 class="no-vertical-margin">' + show_name + '</h4></div> \
                                                    <div class="col-md-6"> \
                                                        <div class="pull-right"> \
                                                            ' + show_buttons + ' \
                                                        </div> \
                                                    </div> \
                                                </div> \
                                                <div class="row"> \
                                                    <div class="col-md-2">' + show_image + '</div> \
                                                    <div class="col-md-10"> \
                                                        <div class="row padding-t-md"> \
                                                            <div class="col-md-2 text-capitalize">Status: ' + show_status + '</div> \
                                                            <div class="col-md-2">Network: ' + show_network + '</div> \
                                                            <div class="col-md-2">Runtime: ' + show_runtime + '</div> \
                                                            <div class="col-md-2">Rating: ' + show_rating + '</div> \
                                                            <div class="col-md-2">TVDB: ' + show_tvdb + '</div> \
                                                            <div class="col-md-2">IMDB: ' + show_imdb + '</div> \
                                                        </div> \
                                                        <div class="row padding-t-sm"> \
                                                            <div class="col-md-12">Genres: ' + show_genres + '</div> \
                                                        </div> \
                                                        <div class="row padding-t-md"> \
                                                            <div class="col-md-12"> \
                                                                Overview: <br /> \
                                                                ' + show_overview + ' \
                                                            </div> \
                                                        </div> \
                                                    </div> \
                                                </div> \
                                            </div> \
                                        </div>';

                                    results_html += show_html;
                                });
                                
                                $('#search_results').html(results_html);
                                
                                image_loaders.forEach(function(image_loader){
                                    sonarr_get_image(image_loader['tv_config_data'], image_loader['sonarr_url'], image_loader['sonarr_id'], image_loader['type'], image_loader['width']);
                                });
                            }
                            
                            $('#search').css('display','inline-block');
                            $('#spinner').css('display','none');
                            
                        }
                    });
                }, 1000 );
            });
            
            
            // CSRF code
            function getCookie(name) {
                var cookieValue = null;
                var i = 0;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (i; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            }); 
        });
    </script>
    {% endblock %}
    
    